
<div class="boxquantifiy">
<main class="container">
  <div class="row">
    <!-- COLUMN LEFT-->
    <div class="col-sm-6">
      <!-- <img src= <%= @product.image1 %> alt="..."> -->
      <%= image_tag @product.image1, size: '500x400' %>


    </div>

  <div class="col-sm-6">
    <div class="product-description">
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <div>
        R$ <%= @product.current_price %>
        preço por unidade
      </div>



  <!-- CREDIT CARD FORM STARTS HERE -->
<div class="panel panel-default credit-card-box">
<div class="panel-heading display-table" >
<div class="row display-tr" >
<h3 class="panel-title display-td" >Preencha abaixo seus dados de cartão:</h3>
<div class="display-td" >
<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
</div>
</div>
</div>
<div class="panel-body">
<form role="form" id="payment-form">
<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="cardNumber">CARD NUMBER</label>
<div class="input-group">
<input
type="tel"
class="form-control"
name="cardNumber"
placeholder="Valid Card Number"
autocomplete="cc-number"
required autofocus
/>
<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-7 col-md-7">
<div class="form-group">
<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
<input
type="tel"
class="form-control"
name="cardExpiry"
placeholder="MM / YY"
autocomplete="cc-exp"
required
/>
</div>
</div>
<div class="col-xs-5 col-md-5 pull-right">
<div class="form-group">
<label for="cardCVC">CV CODE</label>
<input
type="tel"
class="form-control"
name="cardCVC"
placeholder="CVC"
autocomplete="cc-csc"
required
/>
</div>
</div>
</div>
<div class="row" style="display:none;">
<div class="col-xs-12">
<p class="payment-errors"></p>
</div>
</div>
</form>
</div>
</div>
<!-- CREDIT CARD FORM ENDS HERE -->
<%= simple_form_for [@product, @purchase] do |f| %>
  <%= f.input :quantity %>
  <%= f.submit "buy", class: "btn btn-primary" %>
<% end %>

</div>
</div>
</div>
</main>
</div>




