<%= render 'shared/carousel'%>
<%= render 'shared/cards-main'%>

<% @categories.each do |category|%>
  <%= link_to category_path(category) do%>
  <h2><%= category.name %></h2>
  <%= image_tag category.image_name, size: '100x100' if category.image_name.present?%>
  <%end%>
<% end %>


