
<main class="container">
  <div class="box">
    <div class="row">
    <video autoplay="" class="mejs-itx hideControls" id="desktop-maskvideo-d-2-video" poster="https://static.zara.net/photos///mkt/spots/aw18-dresstime-basic-woman-south/home//desktop-maskvideo-d-2.st.png?1541518850908" muted="" loop="" playsinline="" style="max-width: 100%; background: none; width: 100%;" src="https://static.zara.net//video//mkt/2018/11/aw18-dress-time.limbo/aw18-dress-time.limbo_1.mp4?1541756807159"></video>


    <!-- COLUMN LEFT-->
    <div class="col-sm-6">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/assets/female_fashion.jpg');">
       <div class="banner-content">
          <h1>Vestuário Feminino</h1>
          <p>O melhor da internet está no no Precito</p>
      </div>
      </div>
    </div>


    <!-- END COLUMN LEFT-->

    <!-- COLUMN RIGHT-->

    <!-- Product Description -->
    <div class="col-sm-6">
      <div class="category-description">
        <h1>Roupas femininas </h1>
        <p>Grande nome autêntico, design de moda, experiência confortável, preço baixo compre 1 dobra, o coração não é tão bom quanto a ação! APP exclusivo, acessível!</p>

      </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <i class="far fa-thumbs-up"></i>
               <p>Pacote completo</p>
           </div>
           <div class="col-xs-6 col-sm-3">
            <i class="fas fa-undo"></i>
            <p>Retorno em 7 dias</p>
          </div>
          <div class="col-xs-6 col-sm-3">
            <i class="fas fa-truck"></i>
            <p>Entrega em 24 horas</p>
          </div>

        </div>
    </div>
  </div>
</main>



<h1 class="text-center"><%= @category.name %></h1>

<div class="main_content">
  <div class="categories">
    <div class="cat-list">
      <% @products.each do |product|%>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <!-- <li class= "cat-list-item"> -->
            <div class="large-box text-center">
              <div class="pa-glist-item-goods">
                <%=link_to product do %>
                <div class="act-goods-img">
                  <%= image_tag product.main_image, class: "pa-goods-img" %>
                </div>
                <% end %>
                  <!-- <h3><%= link_to product.name, product_path(product) %></h3> -->
                  <div class="act-goods-txt">
                  <p class="act-goods-name"> <%= product.name %></p>
                  <div class="act-goods-prices">
                    <s class="cui-price-original-same-size c-txt-gray-dk">R$<%=product.initial_price%></s>
                    <span class="index-goods-mprice">por R$<span><%=product.current_price%></span></span>
                  </div>
                </div>
              </div>
            </div>
          <!-- </li> -->
        </div>
      <% end %>
    </div>
  </div>
</div>

