<!-- <h1><%= @product.name %></h1>

<h3> Descrição do produto: </h3>
<p><%= @product.description %></p>

<h3>Fornecedor</h3>
<p><%= @product.supplier %></p>

<h3>Initial price</h3>
<p><%= @product.initial_price %></p>

<h3>Preço atual</h3>
<p><%= @product.current_price %></p>

<h3>Preço médio de mercado</h3>
<p><%= @product.avg_price %></p>

<h3>Produtos vendidos</h3>
<p><%= @product.sold_count %></p>

<h3>Precito final (necessária venda de mais x produtos)</h3>
<p><%= @product.price_goal %></p>

<h3>Avaiable itens</h3>
<p><%= @product.avaiable_items %></p>

<h2><%= @add_disc %></h2>

<h3> image 1</h3>
<%= @product.image1 %>

<h3> image 2</h3>
<%= @product.image2 %>


<p><%= link_to "Back To Category", category_path(@product.category_id) %></p> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<main class="container">

   <div class="col-sm-6">
<!-- carrousels-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">




      <img src= <%= @product.image1 %> alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src= <%= @product.image2 %> alt="...">
      <div class="carousel-caption">

      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

    <!-- Product Description -->
<div class="col-sm-6">
    <div class="product-description">
      <div><%= @product.category.name %></div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
    </div>



    <!-- Product Pricing -->
    <div class="product-price">
     <div><i class="fas fa-dollar-sign"></i></div>
      <div>
        R$ <%= @product.current_price %>
        Preço Atual
      </div>

    <div class="itens">
     <div> <i class="fas fa-sort-amount-down"></i> </div>
      <div> Faltam <%= @product.avaiable_items %> itens
      para atingir o preço mínimo! </div>

    <div class="time">
      <div id="div1" class="fa"></div>

<script>
function hourglass() {
  var a;
  a = document.getElementById("div1");
  a.innerHTML = "&#xf251;";
  setTimeout(function () {
      a.innerHTML = "&#xf252;";
    }, 1000);
  setTimeout(function () {
      a.innerHTML = "&#xf253;";
    }, 2000);
}
hourglass();
setInterval(hourglass, 3000);
</script>

      <div> 2 dias   <!-- automatizar saporra -->
        tempo restante:
       </div>
    </div>

  </div>
  </div>
  <a href="#" class="btn btn-success">Comprar por R$ <%= @product.current_price %>/un.</a>
</main>

