<main class="container">
  <div class="row">
    <!-- COLUMN LEFT-->
   <div class="col-sm-6">
     <!-- discount tag-->
      <div class="badge-discount">
        <strong>36%</strong>
        de desconto!
      </div>
    <!-- carrousels-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
   </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag @product.image1 %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag @product.image2 %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag @product.image3 %>
      <div class="carousel-caption">
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

    <!-- Product Description -->
<div class="col-sm-6">
    <div class="product-description">
      <div><%= @product.category.name %></div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
    </div>



    <!-- Product Pricing -->
    <div class="product-price">
     <div><i class="fas fa-dollar-sign"></i></div>
      <div>
        R$ <%= @product.current_price %>
        Preço Atual
      </div>

    <div class="itens">
     <div> <i class="fas fa-sort-amount-down"></i> </div>
      <div> Faltam <%= @product.avaiable_items %> itens
      para atingir o preço mínimo! </div>

    <div class="time">
      <div id="div1" class="fa"></div>

<script>
function hourglass() {
  var a;
  a = document.getElementById("div1");
  a.innerHTML = "&#xf251;";
  setTimeout(function () {
      a.innerHTML = "&#xf252;";
    }, 1000);
  setTimeout(function () {
      a.innerHTML = "&#xf253;";
    }, 2000);
}
hourglass();
setInterval(hourglass, 3000);
</script>

      <div> 2 dias   <!-- automatizar saporra -->
        tempo restante:
       </div>
    </div>

  </div>
  </div>

  <%= link_to "Comprar por R$ #{@product.current_price}0!!", new_product_purchase_path(@product), class: "btn btn-success" %>

</main>

